@import url('https://fonts.googleapis.com/css?family=Fredoka One');

*{
    margin: 0;
    padding:0;
   
}

body{
    background-color: dodgerblue;
    font-family: 'Fredoka One', sans-serif;
    font-size: 16px;
}

h1{
    font-size: 80px;
    color: #FAB201;
    -webkit-text-stroke: 5px white;
    display: flex;
    justify-content: center;
    padding-top:100px;
}

main{
    display: flex;
    justify-content: center;

}
.game{
    display: grid;
    grid-template-rows: 80px 80px 80px;
    grid-template-columns: 80px 80px 80px;
    gap:10px;
    padding-top:50px;
}

.box {
  background: #ffffff;
  display: flex;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(104, 89, 89, 0.522);
}

footer h3{
    color:white;
    display: flex;
    justify-content: center;
    padding-top:50px;

}
